<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Contact Details</h1>
  <p>My Fictional address</p>
  <p>7660086899</p>
  <p>email:mahesh@gmail.com</p>
  <hr size="3" noshade>
  <form class="" action="mailto:mahesh@gridlex.com" method="post" enctype="text/plain">
    <label for="">Name</label>
    <input type="text" name="name" value=""><br>
    <label for="">Email</label>
    <input type="email" name="email" value=""><br>

    <label for="">Message</label><br>
    <textarea name="mess" rows="8" cols="80"></textarea><br>
    <input type="submit" name="submit" value="submit">

  </form>

  </body>
</html>
